- id: '1763434065187'
  alias: Derryn Arrives - Purifier Auto
  description: ''
  triggers:
  - trigger: state
    entity_id: device_tracker.rizzas_iphone
    from: not_home
    to: home
  conditions: []
  actions:
  - parallel:
    - action: fan.set_preset_mode
      metadata: {}
      data:
        preset_mode: auto
      target:
        entity_id: fan.levoit
    - action: timer.cancel
      data: {}
      target:
        entity_id: timer.purifier_auto_timer_away
    - action: timer.cancel
      target:
        entity_id: timer.purifier_auto_timer_nightly
  mode: single
- id: '1763434573916'
  alias: Purifier - Night Auto-Clean
  description: Runs Levoit at 100% from 23:55 for 3 hours, then Auto; cancels if put
    in Auto early.
  triggers:
  - at: '23:55:00'
    id: start
    trigger: time
  - trigger: state
    entity_id: fan.levoit
    attribute: preset_mode
    to: auto
    id: auto_detected
  - event_type: timer.finished
    event_data:
      entity_id: timer.purifier_auto_timer_nightly
    id: timer_finished
    trigger: event
  conditions: []
  actions:
  - choose:
    - conditions:
      - or:
        - condition: trigger
          id: start
        - condition: template
          value_template: '{{ trigger.platform is none }}'
      sequence:
      - target:
          entity_id: timer.purifier_auto_timer_away
        action: timer.cancel
      - target:
          entity_id: fan.levoit
        data:
          percentage: 100
        action: fan.set_percentage
      - target:
          entity_id: timer.purifier_auto_timer_nightly
        action: timer.start
    - conditions:
      - condition: trigger
        id: auto_detected
      - condition: state
        entity_id: timer.purifier_auto_timer_nightly
        state: active
      sequence:
      - target:
          entity_id: timer.purifier_auto_timer_nightly
        action: timer.cancel
    - conditions:
      - condition: trigger
        id: timer_finished
      sequence:
      - target:
          entity_id: fan.levoit
        data:
          preset_mode: auto
        action: fan.set_preset_mode
    - conditions:
      - condition: template
        value_template: '{{ trigger.platform is none }}'
      sequence:
      - delay:
          milliseconds: 300
      - target:
          entity_id: fan.levoit
        data:
          preset_mode: auto
        action: fan.set_preset_mode
  mode: single
