- id: '1762961175136'
  alias: Pantry Light - Motion
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.pantry_motion
    to:
    - 'on'
  actions:
  - alias: Turn on the light
    action: light.turn_on
    target:
      entity_id: light.pantry
  - alias: Wait until there is no motion from device
    wait_for_trigger:
    - trigger: state
      entity_id:
      - binary_sensor.pantry_motion
      to:
      - 'off'
    timeout:
      hours: 0
      minutes: 10
      seconds: 0
      milliseconds: 0
  - alias: Wait the number of seconds that has been set
    delay:
      hours: 0
      minutes: 2
      seconds: 0
      milliseconds: 0
  - alias: Turn off the light
    action: light.turn_off
    data:
      transition: 10
    target:
      entity_id: light.pantry
  mode: restart
  max_exceeded: silent
- id: '1762961284517'
  alias: Laundry Light - Motioin
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - binary_sensor.laundry_motion
    to:
    - 'on'
  actions:
  - alias: Turn on the light
    action: light.turn_on
    data:
      brightness_pct: 80
    target:
      entity_id: light.laundry
  - alias: Wait until there is no motion from device
    wait_for_trigger:
    - trigger: state
      entity_id:
      - binary_sensor.laundry_motion
      to:
      - 'off'
    timeout:
      hours: 0
      minutes: 5
      seconds: 0
      milliseconds: 0
    continue_on_timeout: false
  - alias: Wait the number of seconds that has been set
    delay:
      hours: 0
      minutes: 2
      seconds: 0
      milliseconds: 0
  - alias: Turn off the light
    action: light.turn_off
    data:
      transition: 10
    target:
      entity_id: light.laundry
  mode: restart
  max_exceeded: silent
- id: '1763000551180'
  alias: 'Leaves Home - Light Off / Media Off / Purifier High 2 hours '
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - device_tracker.rizzas_iphone
    to:
    - not_home
  conditions: []
  actions:
  - parallel:
    - sequence:
      - action: fan.set_percentage
        metadata: {}
        data:
          percentage: 100
        target:
          entity_id: fan.levoit
      - parallel:
        - action: timer.start
          target:
            entity_id: timer.purifier_auto_timer_away
          data: {}
        - sequence:
          - delay:
              hours: 2
              minutes: 0
              seconds: 0
              milliseconds: 0
          - action: fan.set_preset_mode
            metadata: {}
            data:
              preset_mode: auto
            target:
              entity_id: fan.levoit
  - parallel:
    - parallel:
      - action: light.turn_off
        metadata: {}
        data: {}
        target:
          entity_id: light.home
      - action: remote.turn_off
        metadata: {}
        data: {}
        target:
          device_id: 5bc5da8668985a86ddc52f3b9ea78280
      - action: media_player.media_pause
        metadata: {}
        data: {}
        target:
          device_id: 66e989b271090f6003939143c7ab81eb
      - action: remote.turn_off
        metadata: {}
        data: {}
        target:
          device_id: b79fc09211ba72a028332fee043d1b51
  mode: single
- id: '1763003924178'
  alias: Derryn Arrives - Purifier Auto / Lights On
  description: ''
  triggers:
  - trigger: state
    entity_id:
    - device_tracker.rizzas_iphone
    to:
    - home
  conditions: []
  actions:
  - parallel:
    - action: fan.set_preset_mode
      metadata: {}
      data:
        preset_mode: auto
      target:
        entity_id: fan.levoit
    - action: timer.cancel
      data: {}
      target:
        entity_id: timer.purifier_auto_timer_away
  mode: single
- id: '1763215181108'
  alias: Kitchen Switch - Scene Cycle
  description: Cycle scenes on bottom button, dim with middle buttons
  triggers:
  - trigger: event
    event_type: hue_event
    event_data:
      device_id: f78a17037acdcf611747baa436eebd1a
  actions:
  - choose:
    - alias: Button 1 - Short Release (Cycle Bench Scenes)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'short_release'\n   and trigger.event.data.subtype == 1 }}\n"
      sequence:
      - action: scene.turn_on
        target:
          entity_id: '{{ bench_next_entity }}'
        data: {}
      - action: input_select.select_option
        data:
          option: '{{ bench_next_entity }}'
        target:
          entity_id: input_select.scene_cycle_kitchen_bench
    - alias: Button 1 - Long Release (Bench Off)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'long_release'\n   and trigger.event.data.subtype == 1 }}\n"
      sequence:
      - action: light.turn_off
        target:
          entity_id: light.kitchen_bench
        data:
          transition: 5
    - alias: Button 2 - Short Release (Brightness Up)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'short_release'\n   and trigger.event.data.subtype == 2 }}\n"
      sequence:
      - action: light.turn_on
        target:
          area_id: kitchen
        data:
          brightness_step_pct: 20
    - alias: Button 3 - Short Release (Brightness Down)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'short_release'\n   and trigger.event.data.subtype == 3 }}\n"
      sequence:
      - action: light.turn_on
        target:
          area_id: kitchen
        data:
          brightness_step_pct: -20
    - alias: Button 4 - Short Release (Cycle Kitchen Scenes)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'initial_press'\n   and trigger.event.data.subtype == 4 }}\n"
      sequence:
      - action: scene.turn_on
        target:
          entity_id: '{{ kitchen_next_entity }}'
        data: {}
      - action: input_select.select_option
        data:
          option: '{{ kitchen_next_entity }}'
        target:
          entity_id: input_select.scene_cycle_kitchen
    - alias: Button 4 - Long Release (Kitchen Off)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'long_release'\n   and trigger.event.data.subtype == 4 }}\n"
      sequence:
      - action: light.turn_off
        target:
          entity_id: light.kitchen
        data:
          transition: 5
  mode: single
  variables:
    kitchen_scene_entities:
    - scene.kitchen_bright
    - scene.kitchen_cool_bright
    - scene.kitchen_dreamy_dusk
    - scene.kitchen_lake_placid
    - scene.kitchen_nightlight
    - scene.kitchen_nighttime
    - scene.kitchen_read
    - scene.kitchen_savanna_sunset
    - scene.kitchen_shine
    - scene.kitchen_tropical_twilight
    kitchen_current: '{{ states(''input_select.scene_cycle_kitchen'') }}'
    kitchen_index: "{% set list = kitchen_scene_entities %} {% if kitchen_current
      in list %}\n  {{ list.index(kitchen_current) }}\n{% else %}\n  0\n{% endif %}\n"
    kitchen_next_index: '{% set list = kitchen_scene_entities %} {{ (kitchen_index
      | int + 1) % (list | length) }}

      '
    kitchen_next_entity: '{% set list = kitchen_scene_entities %} {{ list[kitchen_next_index
      | int] }}

      '
    bench_scene_entities:
    - scene.kitchen_bench_bright
    - scene.kitchen_bench_cool_bright
    - scene.kitchen_bench_dreamy_dusk
    - scene.kitchen_bench_lake_placid
    - scene.kitchen_bench_nightlight
    - scene.kitchen_bench_nighttime
    - scene.kitchen_bench_read
    - scene.kitchen_bench_savanna_sunset
    - scene.kitchen_bench_shine
    - scene.kitchen_bench_tropical_twilight
    bench_current: '{{ states(''input_select.scene_cycle_kitchen_bench'') }}'
    bench_index: "{% set list = bench_scene_entities %} {% if bench_current in list
      %}\n  {{ list.index(bench_current) }}\n{% else %}\n  0\n{% endif %}\n"
    bench_next_index: '{% set list = bench_scene_entities %} {{ (bench_index | int
      + 1) % (list | length) }}

      '
    bench_next_entity: '{% set list = bench_scene_entities %} {{ list[bench_next_index
      | int] }} '
- id: '1763256475040'
  alias: Purifier - Night Auto-Clean
  description: Runs Levoit at 100% from 23:55 for 3 hours, then Auto; cancels if put
    in Auto early.
  triggers:
  - at: '23:55:00'
    id: start
    trigger: time
  - value_template: '{{ is_state_attr(''fan.levoit'', ''preset_mode'', ''auto'') }}'
    id: auto_detected
    trigger: template
  - event_type: timer.finished
    event_data:
      entity_id: timer.purifier_auto_timer_nightly
    id: timer_finished
    trigger: event
  conditions: []
  actions:
  - choose:
    - conditions:
      - or:
        - condition: trigger
          id: start
        - condition: template
          value_template: '{{ trigger.platform is none }}'
      sequence:
      - target:
          entity_id: fan.levoit
        data:
          percentage: 100
        action: fan.set_percentage
      - target:
          entity_id: timer.purifier_auto_timer_nightly
        action: timer.start
    - conditions:
      - condition: trigger
        id: auto_detected
      - condition: template
        value_template: '{{ trigger.platform != none }}'
      - condition: state
        entity_id: timer.purifier_auto_timer_nightly
        state: active
      sequence:
      - target:
          entity_id: timer.purifier_auto_timer_nightly
        action: timer.cancel
    - conditions:
      - condition: trigger
        id: timer_finished
      sequence:
      - target:
          entity_id: fan.levoit
        data:
          preset_mode: auto
        action: fan.set_preset_mode
    - conditions:
      - condition: template
        value_template: '{{ trigger.platform is none }}'
      sequence:
      - delay:
          milliseconds: 300
      - target:
          entity_id: fan.levoit
        data:
          preset_mode: auto
        action: fan.set_preset_mode
  mode: single
- id: '1763294657209'
  alias: Lounge Switch
  description: Cycle scenes on bottom button, dim with middle buttons
  triggers:
  - trigger: event
    event_type: hue_event
    event_data:
      device_id: 8110fb5d28433b9a8fea072d30876c64
  conditions: []
  actions:
  - choose:
    - alias: Button 1 - Short Release (Cycle Living Scenes)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'short_release'\n   and trigger.event.data.subtype == 1 }}\n"
      sequence:
      - action: scene.turn_on
        target:
          entity_id: '{{ living_next_entity }}'
        data: {}
      - action: input_select.select_option
        data:
          option: '{{ living_next_entity }}'
        target:
          entity_id: input_select.scene_cycle_living_room
    - alias: Button 1 - Long Release (living off)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'long_release'\n   and trigger.event.data.subtype == 1 }}\n"
      sequence:
      - action: light.turn_off
        target:
          entity_id: light.living_room
        data:
          transition: 5
    - alias: Button 2 - Short Release (Brightness Up)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'short_release'\n   and trigger.event.data.subtype == 2 }}\n"
      sequence:
      - action: light.turn_on
        data:
          brightness_step_pct: 20
        target:
          entity_id: light.living_room
    - alias: Button 3 - Short Release (Brightness Down)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'short_release'\n   and trigger.event.data.subtype == 3 }}\n"
      sequence:
      - action: light.turn_on
        data:
          brightness_step_pct: -20
        target:
          entity_id: light.living_room
    - alias: Button 4 - Short Release (Cycle Lounge Scenes)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'initial_press'\n   and trigger.event.data.subtype == 4 }}\n"
      sequence:
      - action: scene.turn_on
        target:
          entity_id: '{{ lounge_next_entity }}'
        data: {}
      - action: input_select.select_option
        data:
          option: '{{ lounge_next_entity }}'
        target:
          entity_id: input_select.scene_cycle_lounge
    - alias: Button 4 - Long Release (Lounge Off)
      conditions:
      - condition: template
        value_template: "{{ trigger.platform == 'event'\n   and trigger.event.data.type
          == 'long_release'\n   and trigger.event.data.subtype == 4 }}\n"
      sequence:
      - action: light.turn_off
        target:
          entity_id: light.lounge
        data:
          transition: 5
  mode: single
  variables:
    lounge_scene_entities:
    - scene.lounge_bright
    - scene.lounge_cool_bright
    - scene.lounge_dreamy_dusk
    - scene.lounge_lake_placid
    - scene.lounge_nightlight
    - scene.lounge_nighttime
    - scene.lounge_read
    - scene.lounge_savanna_sunset
    - scene.lounge_shine
    - scene.lounge_tropical_twilight
    lounge_current: '{{ states(''input_select.scene_cycle_lounge'') }}'
    lounge_index: "{% set list = lounge_scene_entities %} {% if lounge_current in
      list %}\n  {{ list.index(lounge_current) }}\n{% else %}\n  0\n{% endif %}\n"
    lounge_next_index: '{% set list = lounge_scene_entities %} {{ (lounge_index |
      int + 1) % (list | length) }}

      '
    lounge_next_entity: '{% set list = lounge_scene_entities %} {{ list[lounge_next_index
      | int] }}

      '
    living_scene_entities:
    - scene.living_room_bright
    - scene.living_room_cool_bright
    - scene.living_room_dreamy_dusk
    - scene.living_room_lake_placid
    - scene.living_room_nightlight
    - scene.living_room_nighttime
    - scene.living_room_read
    - scene.living_room_savanna_sunset
    - scene.living_room_shine
    - scene.living_room_tropical_twilight
    living_current: '{{ states(''input_select.scene_cycle_living_room'') }}'
    living_index: "{% set list = living_scene_entities %} {% if living_current in
      list %}\n  {{ list.index(living_current) }}\n{% else %}\n  0\n{% endif %}\n"
    living_next_index: '{% set list = living_scene_entities %} {{ (living_index |
      int + 1) % (list | length) }}

      '
    living_next_entity: '{% set list = living_scene_entities %} {{ list[living_next_index
      | int] }}
      '
